<div class="container mt-3">
<h1>Add new flat</h1>
  <%= form_with model: @flat do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :price_per_night %>
      <%= f.number_field :price_per_night, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :number_of_guests %>
      <%= f.number_field :number_of_guests, class: "form-control" %>
    </div>

    <div class="form-group mt-3">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
